{{#extend "layout"}}

  {{#content "main"}}
    <p>
      <strong>Hi there, {{fistName}}</strong>
    </p>
    <p>
      <a href="{{uiUrl}}/actions/{{actionId}}">RESET PASSWORD</a>.</p>
    </p>
    <p>
      Thank you for signing up. If you have any questions please don't hesitate to contact our support team at
      <a href="mailto:hello@examle.com">hello@example.com</a>.</p>
    <p>
      <strong>Best regards</strong><br>
      Company Name
    </p>
  {{/content}}

{{/extend}}